
.preview-image {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

@media (max-width: 480px)
{
    .preview-card {
        width: 100%;
        display: flex;
        flex-direction: column;
        height: 60vh;
    }
    .content {
        height: 100%;
    }
    .preview-image {
        height: 30vh;
        background-image: url('images/image-product-mobile.jpg');
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0px;
    }
}

@media (min-width: 481px)
{
    .preview-card {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 100%;
        max-width: 600px;
    }
    .preview-image {
        height: 45vh;
        background-image: url('images/image-product-desktop.jpg');
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 0px;
    }
}

body {
    display: flex;
    background-color: hsl(30, 38%, 92%);
    align-items: center;
    justify-content: center;
    margin-top: 20vh;
    padding: 5vw;
}

.content {
    box-sizing: border-box;
    padding: 7%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content *:not(:last-child) {
    margin: 0%;
    /* margin-bottom: 10px; */
}

.preview-card {
    background-color: #fff;
    border-radius: 10px;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

.preview-card-button {
    box-sizing: border-box;
    width: 100%;
    padding: 1.5vh;
    background-color: hsl(158, 36%, 37%);
    color: #fff;
    border-radius: 5px;
}


